<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>{{titulo}}</h1></center>
    <form action="#" method="post">
        <div>
            <label for="">Nombre</label>
            <input type="text" name="nombre" id="">
        </div>
        <div>
            <label for="">Apellido</label>
            <input type="text" name="apellido" id="">
        </div>
        <div>
            <label for="">Edad</label>
            <input type="text" name="edad" id="">
        </div>
        <div>
            <label for="">Sexo</label>
            <input type="text" name="sexo" id="">
        </div>
        <div>
            <label for="">Estado Civil</label>
            <input type="text" name="estado_civil" id="">
        </div>
        <div>
            <label for="">Profesion</label>
            <input type="text" name="profesion" id="">
        </div>
        <div>
            <label for="">Empresa</label>
            <input type="text" name="empresa" id="">
        </div>
        <div>
            <label for="">Cargo</label>
            <input type="text" name="cargo" id="">
        </div>
        <div>
            <label for="">Sueldo</label>
            <input type="text" name="sueldo" id="">
        </div>
        <div>
            <label for="">Ciudad</label>
            <input type="text" name="ciudad" id="">
        </div>
        <div>
            <label for="">Departamento</label>
            <input type="text" name="departamento" id="">
        </div>
        <div>
            <label for="">Pais</label>
            <input type="text" name="pais" id="">
        </div>
        <div>
            <label for="">Telefono</label>
            <input type="text" name="telefono" id="">
        </div>
</body>
</html>